
.thumbnail{
    width: 200px;
    height: 200px;
    border: 5px;
    object-fit: contain;
    border-color: gold;
    animation: mymove 5s infinite;
}
.video-preview{
    margin-top: 40px;
    margin-left: 100px;
    width: 180px;
    display: inline-block;
}

 .video-title{
    margin-top: 0px;
    font-family:serif ;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    display:block;
    text-align: center;
}


 .thumbnail-row{
     margin-bottom: 8px;
     position: relative;
 }

.video-grid{
    display: grid;
    row-gap: 40px;
}



@media (max-width: 730px){
    .video-grid{
        grid-template-columns: 1fr;
    }
}

@media (min-width:731px) and (max-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr ;
        column-gap: 9px;
    }
}

@media (min-width: 1002px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
    }
}

.price{
    position: absolute ;
    bottom: 10px;
    right:-10px;
}

.in-bu{
    position: relative;
    }
  
.cart-button{
    margin-left: 35px;
    border-radius: 15px;
    border: none;
    background-color: rgb(249, 217, 76);
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px 15px;
    cursor: pointer;
}

  .cart-button:hover {
    background-color: rgb(247, 202, 0);
  }

  .cart-button:active {
    opacity: 0.5;
  }

  #amount1,#amount2,#amount3,#amount4,
  #amount5,#amount6,#amount7,#amount8,#amount9{
    position: absolute;
    width: 30px;
   height: 20px;
   margin-left: 3px;
}

  .add-to-cart{
    color: black;
    text-decoration: none;
  }

@keyframes mymove {
    50% {box-shadow: 2px 2px 10px black;}}

